* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #c182ee;
    padding: 0 1rem 0 1rem;
    height: 5rem;
}

header img {
    width: 200px;
}

.header-session-buttons {
    display: flex;
    gap: 0.5rem;
}

.header-session-buttons button {
    border-style: none;
    width: 5rem;
    height: 2rem;
    background-color: transparent;
    border-radius: 5px;
    font-size: 1rem;
    background-color: white;
    color: black;
}

.header-session-buttons button:hover {
    background-color: rgb(158, 54, 255);
    color: white;
    transition: 300ms;
    scale: 1.1;
}