body {
    background-image: url("../assets/home/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100vw 1200px;
    background-position: 0 -300px;
}

.main-search {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
    width: 100%;
    transition: 150ms;
}

.main-search input {
    height: 4rem;
    width: 60rem;
    border-radius: 2rem;
    border-style: none;
    font-size: 2rem;
    padding: 0 1rem 0 1rem;
}

.main-search:hover {
    backdrop-filter: blur(8px);
    transition: 150ms;
}

.discover-options {
    display: flex;
    background-color: white;
    height: 2rem;
    align-items: center;
}

.discover-options button {
    font-size: 1rem;
    background-color: blueviolet;
    height: 100%;
    border-style: none;
    position: relative;
    top: 0;
    color: white;
    width: 6rem;
    transition: 300ms;
}

.discover-options button:hover {
    top: -15px;
    width: 7rem;
    height: 3rem;
    transition: 300ms;
    background-color: rgb(158, 54, 255);
}

.horizontal-container {
    display: flex;
    justify-content: space-around;
    background-color: white;
    padding: 1rem 0 1rem 0;
    height: 30rem;
}

.horizontal-container img {
    width: 8rem;
    height: 8rem;
    align-self: center;
}
.horizontal-container .panel {
    background-color: rgb(225, 225, 225);
    box-shadow: 0 0 5px black;
    border: 3px solid #ffffff;
    border-radius: 1rem;
    width: 25rem;
}

.horizontal-container .panel h2 {
    color:white;
    padding: 5px 0 5px 5px;
    background-color: rgb(212, 169, 246);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
}

.horizontal-container .panel .panel-card {
    position: relative;
    animation: GoUp 500ms;
    display: inline;
    
}

@keyframes GoUp {
    0% {
        top: 5rem;
    }

    100% {
        top: 0;
    }
}

.horizontal-container .panel .panel-card .card-item {
    height: 6rem;
    background-color: rgb(161, 161, 161);
    border-radius: 1rem;
    margin: 10px;
    color: white;
    transition: 300ms;
}

.horizontal-container .panel .panel-card .card-item:hover {
    scale: 1.05;
    transition: 300ms;

}

.horizontal-container .panel .panel-card .card-item h3 {
    text-align: center;
    backdrop-filter: blur(8px);
    border-top-right-radius: 1rem;
    border-top-left-radius: 1rem;
    text-shadow: 0 0 1px black;
}

#card-item-berlin {
    background-image: url("../assets/home/berlin.jpg");
    background-repeat: no-repeat;
    background-position: 0 -600px;
}

#card-item-londres {
    background-image: url("../assets/home/londres.jpg");
    background-repeat: no-repeat;
    /*background-size: 100vw 100vh;*/
    background-position: 0 -250px;
}

#card-item-montevideo {
    background-image: url("../assets/home/montevideo.jpg");
    background-repeat: no-repeat;
    background-position: 0 -350px;
}

#card-item-madrid {
    background-image: url("../assets/home/madrid.webp");
    background-repeat: no-repeat;
    background-position: 0 -350px;
}

.horizontal-container .panel .panel-card .card-item-checkbox {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 5px;
    height: 6rem;
    width: 13rem;
    background-color: rgb(161, 161, 161);
    border-radius: 1rem;
    margin: 10px;
    color: white;
    transition: 300ms;
}

.horizontal-container .panel .panel-card input {
    display: none;
}

.horizontal-container .panel .panel-card .card-item-checkbox:hover {
    scale: 1.1;
    transition: 300ms;
    box-shadow: 0 0 5px black;
}

.horizontal-container .panel .panel-card .card-item-checkbox img {
    width: 80px;
    height: 80px;
}

#option-checkbox-1:checked + #option-label-1 {
    border: 3px solid rgb(158, 54, 255);
    background-color: rgb(212, 169, 246);
    box-shadow: 0 0 5px black;
}

#option-checkbox-2:checked + #option-label-2 {
    border: 3px solid rgb(158, 54, 255);
    background-color: rgb(212, 169, 246);
    box-shadow: 0 0 5px black;
}

#option-checkbox-3:checked + #option-label-3 {
    border: 3px solid rgb(158, 54, 255);
    background-color: rgb(212, 169, 246);
    box-shadow: 0 0 5px black;
}

#option-checkbox-4:checked + #option-label-4 {
    border: 3px solid rgb(158, 54, 255);
    background-color: rgb(212, 169, 246);
    box-shadow: 0 0 5px black;
}